body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url(abstract-navy-red-background-design-sr17012401.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center; /* Center the card */
    align-items: center; 
    height: 100vh; 
    text-align: center;
}

.card {
    width: 100%;
    max-width: 400px; /* Make the card width responsive */
    padding: 2rem 2rem; /* Reduce padding on smaller screens */
    border-radius: 10px;
    background: rgba(178, 181, 223, 0.25);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(15, 16, 20, 0.31);
    margin-left: auto;
    margin-right: auto;
    /* Ensure the card is centered in all screen sizes */
}

.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7em;
    background-color: #1f20299a;
    border-radius: 4px;
    padding: .5em 1em;
}

.input-icon {
    height: 1em;
    width: 1em;
    fill: #da3636;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
}

/* Buttons */
.btn {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #da3636;
    color: #d8d8d8;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
}

.btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
}

/* Hover & focus */
.field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.btn:hover {
    background-color: #c42727;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

.btn-link:hover {
    color: #bebebe;
}

p {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgba(246, 246, 246, 0.405);
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .card {
        padding: 1.5rem;
        width: 80%;
    }

    .title {
        font-size: 1.2em; /* Adjust title size for small screens */
    }

    .input-field {
        font-size: 1em; /* Larger input text for easier typing */
    }

    .btn {
        font-size: 1em;
        padding: 0.8em 1.5em;
    }

    .btn-link {
        font-size: 1em;
    }

    p {
        font-size: 0.8em; /* Adjust footer text for mobile */
    }
}
